<h1>Developers</h1>

<table class="table table-striped table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Retired?</th>
    </tr>
  </thead>
  <tbody>
    <% @developers.each do |dev| %>
      <tr>
        <td>
          <a href="/developers/<%= dev.id %>">
            <%= dev.id %>
          </a>
        </td>
        <td><%= dev.name %></td>
        <td>
          <% if dev.retired? %>
              <span class="glyphicon glyphicon-ok"></span>
          <% else %>
              <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <a href="/developers/new">Add Developer</a>
      </td>
    </tr>
  </tbody>
</table>