<h2>New Developer</h2>

<% if @error %>
    <p class="error"><%= @error %></p>
<% end %>

<%= form_tag '/developers' do %>
    <label for="full_name">
      Name
    </label>
    <input type="text" name="full_name" value="<%= params[:full_name] %>">
    <button class="error">Save</button>
<% end %>